<div class="admin-orders-container">
  <!-- Сообщение об ошибке -->
  <app-error-message *ngIf="error" [message]="error"></app-error-message>

  <!-- Сообщение о загрузке -->
  <p *ngIf="isLoading">Загрузка заказов...</p>

  <!-- Таблица заказов -->
  <table *ngIf="!isLoading && orders?.length" class="orders-table">
    <thead>
    <tr>
      <th>Номер заказа</th>
      <th>Пользователь</th>
      <th>Блюда</th>
      <th>Сумма</th>
      <th>Статус</th>
      <th>Изменить статус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order?.orderNumber }}</td>
      <td>{{ order?.userName }}</td>
      <td *ngFor="let dish of order.orderItems">
        <div style="display: block;">
          - {{dish.dish.name}} ({{dish.count}})
        </div>
      </td>

      <td>{{ order?.amount }} руб</td>
      <td>{{ order?.status?.name }}</td>
      <td>
        <!-- Выпадающий список для выбора нового статуса -->
        <select
          *ngIf="statuses?.length"
          [(ngModel)]="order.status.id"
          (ngModelChange)="updateStatus(order.id, order.status.id)"
        >
          <option *ngFor="let status of statuses" [value]="status.id">
            {{ status.name }}
          </option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Сообщение при отсутствии заказов -->
  <p *ngIf="!isLoading && !orders?.length">Заказы отсутствуют.</p>
</div>
