<div class="home-container">
  <!-- Компонент поиска -->
  <app-search (searchChanged)="onSearchChange($event)"></app-search>

  <!-- Основной контент -->
  <div class="main-content">
    <!-- Фильтрация и сортировка -->
    <div class="filter-sort-container">
      <app-filter (categorySelected)="onCategoryChange($event)"></app-filter>
      <app-sort (sortingChanged)="onSortingChange($event)"></app-sort>
    </div>

    <!-- Список блюд -->
    <app-dish-list
      [categoryId]="categoryId"
      [searchName]="searchName"
      [sorting]="sorting"
    ></app-dish-list>
  </div>
</div>
