<div class="dish-list-container">
  <div class="dish-list">
    <!-- Список блюд -->
    <div *ngFor="let dish of dishes" class="dish-item">
      <img
        [src]="dish.imageUrl"
        [alt]="dish.name"
        class="dish-image"
        (click)="openDishDetails(dish)"
      />
      <div class="dish-info" (click)="openDishDetails(dish)">
        <h3 class="dish-name">{{ dish.name }}</h3>
        <p class="dish-price">{{ dish.price }} руб</p>
      </div>
      <!-- Компонент добавления в корзину -->
      <div class="add-to-cart-wrapper">
        <app-add-to-cart
          [dishId]="dish.id"
          [userId]="userId || ''"
        ></app-add-to-cart>
      </div>
    </div>
  </div>

  <!-- Пагинация -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Назад</button>
    <span>Страница {{ currentPage }} из {{ totalPageCount }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPageCount">
      Вперёд
    </button>
  </div>

  <!-- Модальное окно -->
  <app-dish-details
    *ngIf="selectedDish"
    [dish]="selectedDish"
    [userId]="userId"
    [isVisible]="true"
    (closeModal)="closeDishDetails()"
  ></app-dish-details>

</div>
