<div class="form-container">
  <h2>Логин</h2>
  <form (ngSubmit)="login()">
    <input
      type="text"
      [(ngModel)]="userName"
      placeholder="Имя пользователя"
      name="userName"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Пароль"
      name="password"
      required
    />
    <button [disabled]="isLoading" type="submit">
      {{ isLoading ? 'Вход...' : 'Войти' }}
    </button>
  </form>
  <app-error-message
  (message)="error">
  </app-error-message>
</div>
